About the application - Todo's
Below is a simple ToDo application that we would like to you build,
Following are the user stories:
As a user, I should be able to view a page with a task list on it.
As a user, I should be able to add a new task to the task list.
As a user, I should be able to mark a task in the list as completed.
This is single user application and do not worry about cross-user scenarios
or security in that respect.
A task is simply defined as a small piece of work with a description and can
exist in one of two simple states: completed or not completed. As for the list,
 consider it empty any time someone first visits your index page; you don't have
 to worry about saving the state of your application between uses.


 Architecture
 Implement the project with ASP.NET MVC.
 Implement back end with ASP.NET Web API which would be the Service layer.
  Persist data however you want.

  
 OPTIONAL
 Please use JavaScript/Jquery if required on the front end.
 Make sure you write unit tests for the code using MOQ for .NET.
